<h1>NHKの「直近のアニメ」が見れるよ！</h1>
<br>

@ViewData["CaptionSample"]

<table border="1">
    <tbody>
        <tr>
            <th>ロゴ</th>
            <th>タイトル</th>
            <th>放送局</th>
            <th>開始時刻</th>
            <th>終了時刻 </th>
            <th>サブタイトル</th>
            <th>内容</th>
            <th>出演者</th>
            <th>ジャンル</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>